@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

body{
    background-color: black;
    text-align: center;
}

.square_table{
    display: table;
    border-collapse: separate;
    border-spacing: 30px;
    margin: auto;
}

.square_row{
    display: table-row;
}

.square{
    width: 200px;
    height: 190px;
    display: table-cell;
    padding-bottom: 10px;
    vertical-align: bottom;
    border-radius: 50px;
    border: 1px solid white;
}

.label{
    width: 200px;
    display: table-cell;
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.white_square{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
}

.black_square{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background-color: black;
    margin-bottom: 5px;
}