body{
    background-color: black;
    text-align: center;
}

.square_table{
    display: table;
    border-collapse: separate;
    border-spacing: 30px;
    margin: auto;
}

.square_row{
    display: table-row;
}

.square{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: table-cell;
}